<app-side-menu-cita />
<section class="grid grid-cols-1 md:grid-cols-2 gap-3 h-[380px]"
    style="background-image: url('../../../assets/img-landing/banner1.png'); background-size: cover; height: 472px;">
    <div class="font-sans pl-48 container mx-auto relative z-10 flex flex-col items-start justify-center h-full px-6">
        <h1 class="text-4xl text-black font-bold">
            Tu sonrisa en manos de los
        </h1>
        <p class="text-4xl text-green-500 mt-4">
            mejores dentistas en
        </p>
        <p class="text-4xl text-green-500 mt-4">
            Lima
        </p>
    </div>

    <app-form-citas-step2 />

</section>

<app-footer-pages />