<section id="contactos">
  <footer class="bg-blue-50 mt-10 py-10">
      <div class="container mx-auto px-10">
          <div class="flex justify-between">
              <div>
                  <h3 class="font-bold">
                      Sede
                  </h3>
                  <p>
                      Breña (Jr. Huarez 1313, 15012)
                  </p>
              </div>
              <div>
                  <h3 class="font-bold">
                      Contacto
                  </h3>
                  <p>
                      <i class="fas fa-envelope">
                      </i>
                      Odontosalud.com
                  </p>
                  <p>
                      <i class="fas fa-phone">
                      </i>
                      +51 987654321
                  </p>
                  <p>
                      <i class="fas fa-phone">
                      </i>
                      01 7025566
                  </p>
              </div>
              <div>
                  <h3 class="font-bold">
                      Horarios
                  </h3>
                  <p>
                      <i class="fas fa-clock">
                      </i>
                      Lunes a Sábados
                  </p>
                  <p>
                      10:00 am - 8:00 pm
                  </p>
              </div>
              <div>
                  <h3 class="font-bold">
                      Síguenos
                  </h3>
                  <p>
                      <i class="fab fa-facebook">
                      </i>
                      OdontoSalud
                  </p>
              </div>
          </div>
          <div class="text-center mt-10 text-gray-500">
              © Copyright. Todos los derechos reservados 2024
          </div>
      </div>
  </footer>
</section>
