<app-menu-landing class="mb-5"/>
<div class="bg-white text-gray-800">
    <!-- Header -->
    <!-- Hero Section -->
    <section class="bg-cover bg-center h-96"
        style="background-image: url('../../../assets/img-landing/banner1.png');">
        <div class="inset-0">
        </div>
        <div class="container mx-auto z-10 flex flex-col items-start justify-center h-full px-6">
            <h1 class="text-4xl text-white font-bold">
                Especialistas Diseñando Sonrisas
            </h1>
            <p class="text-lg text-white mt-4">
                Más de 10 años de experiencia, ofreciendo a nuestros pacientes confianza, tratamientos modernos y
                especializados.
            </p>
            <a class="mt-6 px-6 py-3 bg-blue-600 text-white font-bold rounded hover:bg-blue-700" href="#">
                RESERVA TU CITA
            </a>
        </div>
    </section>
    <!-- Confidence Section -->
    <section id="conocenos" class="py-16 bg-white">
        <div class="container mx-auto px-6">
            <div class="flex flex-col lg:flex-row items-center">
                <div class="lg:w-1/2">
                    <img alt="Equipo de especialistas" class="w-full rounded-lg shadow-lg" height="400"
                        src="../../../assets/img-landing/image2.png" width="600" />
                </div>
                <div class="lg:w-1/2 lg:pl-12 mt-8 lg:mt-0">
                    <h2 class="text-3xl font-bold text-gray-800">
                        Sonríe con más
                        <span class="text-green-500">
                            confianza
                        </span>
                    </h2>
                    <p class="mt-4 text-gray-600">
                        Comprometidos con el trabajo y brindamos cada día lo mejor, donde encontrarás la solución
                        definitiva, con garantía para tus problemas dentales.
                    </p>
                    <div class="mt-8 flex space-x-8">
                        <div class="flex flex-col items-center">
                            <i class="fas fa-tooth text-6xl text-blue-500">
                            </i>
                            <div class="mt-4 text-center">
                                <h3 class="text-xl font-bold text-gray-800">
                                    Todas las especialidades odontológicas en un solo lugar
                                </h3>
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <i class="fas fa-check-circle text-6xl text-blue-500">
                            </i>
                            <div class="mt-4 text-center">
                                <h3 class="text-xl font-bold text-gray-800">
                                    Resultados Garantizados
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Clinic Section -->
    <section id="conocenos" class="py-16 bg-gray-100">
        <div class="container mx-auto px-6">
            <h2 class="text-3xl font-bold text-gray-800 text-center">
                Nuestra
                <span class="text-green-500">
                    Clínica
                </span>
            </h2>
            <div class="mt-12 flex flex-col lg:flex-row items-center">
                <div class="lg:w-1/2">
                    <img alt="Dentista con paciente" class="w-full rounded-lg shadow-lg" height="400"
                        src="../../../assets/img-landing/imagen3.png" width="600" />
                </div>
                <div class="lg:w-1/2 lg:pl-12 mt-8 lg:mt-0">
                    <p class="text-gray-600">
                        Somos un equipo de cirujanos dentistas especializados con más de 10 años de experiencia,
                        ofreciendo a nuestros pacientes confianza, tratamientos modernos y especializados en todas
                        nuestras áreas para el cuidado de su salud dental y estética.
                    </p>
                    <ul class="mt-4 text-gray-600 list-disc list-inside">
                        <li>
                            Materiales de calidad en todos nuestros tratamientos.
                        </li>
                        <li>
                            Tratamientos utilizando la más alta tecnología.
                        </li>
                        <li>
                            Compromiso con la excelencia.
                        </li>
                        <li>
                            Nuestro trato atento y personalizado.
                        </li>
                    </ul>
                    <div class="mt-8 bg-white p-6 rounded-lg shadow-lg">
                        <h3 class="text-xl font-bold text-gray-800">
                            Nuestras cifras
                        </h3>
                        <p class="mt-4 text-gray-600">
                            En OdontoSalud tratamos pacientes que buscan un bienestar para sí mismos y los de su
                            familia.
                        </p>
                        <div class="mt-4 flex space-x-8">
                            <div class="text-center">
                                <p class="text-3xl font-bold text-green-500">
                                    + 20 mil
                                </p>
                                <p class="text-gray-600">
                                    Pacientes
                                </p>
                            </div>
                            <div class="text-center">
                                <p class="text-3xl font-bold text-green-500">
                                    100 %
                                </p>
                                <p class="text-gray-600">
                                    Satisfacción
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="servicios">
        <div class="container mx-auto px-4 py-8">
            <h1 class="text-4xl font-bold text-center text-green-500 mb-8">
                Servicios
            </h1>
            <div class="border-t border-gray-300 mb-8">
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="bg-blue-100 p-6 rounded-lg shadow-md flex flex-col">
                    <h2 class="text-2xl font-bold text-center text-blue-600 mb-4">
                        ENDODONCIA
                    </h2>
                    <div class="flex flex-col md:flex-row items-center">
                        <p class="text-center md:text-left md:mr-4">
                            Cuando la parte viva interna del diente ha sido infectada a causa de caries profundas, el
                            tratamiento de endodoncia implica limpiar y sellas los conductos dentales para salvar la
                            pieza afectada. Luego es posible reconstruir la porción externa del diente.
                        </p>
                        <img alt="Dentist performing endodontic treatment"
                            class="w-full md:w-1/3 rounded-lg mb-4 md:mb-0" height="150"
                            src="../../../assets/img-conent/services/img1.png" width="150" />
                    </div>
                </div>
                <div class="bg-blue-100 p-6 rounded-lg shadow-md flex flex-col">
                    <h2 class="text-2xl font-bold text-center text-blue-600 mb-4">
                        ORTODONCIA
                    </h2>
                    <div class="flex flex-col md:flex-row items-center">
                        <img alt="Orthodontist explaining treatment to a patient"
                            class="w-full md:w-1/3 rounded-lg mb-4 md:mb-0 md:mr-4" height="150"
                            src="../../../assets/img-conent/services/img2.png" width="150" />
                        <p class="text-center md:text-left">
                            Esta especialidad tiene como fin el diagnóstico y tratamiento de las alteraciones de la
                            posición de los dientes y/o huesos maxilares. Por lo general, el tratamiento implica la
                            colocación de brackets y alambres delgados que tienen la función de alinear los dientes y
                            ajustar la mordida de manera ideal.
                        </p>
                    </div>
                </div>
                <div class="bg-blue-100 p-6 rounded-lg shadow-md flex flex-col">
                    <h2 class="text-2xl font-bold text-center text-blue-600 mb-4">
                        ESTÉTICA DENTAL
                    </h2>
                    <div class="flex flex-col md:flex-row items-center">
                        <p class="text-center md:text-left md:mr-4">
                            La estética dental abarca procedimientos para mejorar la apariencia de dientes y encías,
                            como blanqueamiento, carillas y ortodoncia, buscando una sonrisa más atractiva y funcional,
                            impactando en la confianza y salud del paciente.
                        </p>
                        <img alt="Dentist performing aesthetic dental treatment"
                            class="w-full md:w-1/3 rounded-lg mb-4 md:mb-0" height="150"
                            src="../../../assets/img-conent/services/img3.png" width="150" />
                    </div>
                </div>
                <div class="bg-blue-100 p-6 rounded-lg shadow-md flex flex-col">
                    <h2 class="text-2xl font-bold text-center text-blue-600 mb-4">
                        ODONTOPEDIATRÍA
                    </h2>
                    <div class="flex flex-col md:flex-row items-center">
                        <img alt="Pediatric dentist with a child patient"
                            class="w-full md:w-1/3 rounded-lg mb-4 md:mb-0 md:mr-4" height="150"
                            src="../../../assets/img-conent/services/img4.png" width="150" />
                        <p class="text-center md:text-left">
                            Esta especialidad comprende el cuidado de los pacientes desde el vientre materno hasta el
                            último año escolar. Su enfoque principal es la prevención, ya que con un asesoramiento
                            adecuado podemos conseguir que los niños lleguen a la etapa adulta libres de caries (fluor,
                            sellantes) y con los dientes alineados.
                        </p>
                    </div>
                </div>
                <div class="bg-blue-100 p-6 rounded-lg shadow-md flex flex-col">
                    <h2 class="text-2xl font-bold text-center text-blue-600 mb-4">
                        ODONTOLOGÍA INTEGRAL
                    </h2>
                    <div class="flex flex-col md:flex-row items-center">
                        <p class="text-center md:text-left md:mr-4">
                            Abarca los tratamientos más usuales de la Odontología, como destartrajes, profilaxis y
                            restauraciones.
                        </p>
                        <img alt="Dentist performing general dental treatment"
                            class="w-full md:w-1/3 rounded-lg mb-4 md:mb-0" height="150"
                            src="../../../assets/img-conent/services/img5.png" width="150" />
                    </div>
                </div>
                <div class="bg-blue-100 p-6 rounded-lg shadow-md flex flex-col">
                    <h2 class="text-2xl font-bold text-center text-blue-600 mb-4">
                        REHABILITACIÓN E IMPLANTES
                    </h2>
                    <div class="flex flex-col md:flex-row items-center">
                        <img alt="Dentist performing implant treatment"
                            class="w-full md:w-1/3 rounded-lg mb-4 md:mb-0 md:mr-4" height="150"
                            src="../../../assets/img-conent/services/img6.png" width="150" />
                        <p class="text-center md:text-left">
                            Especialidad dedicada a devolver la función masticatoria, restaurar y/o devolver la pérdida
                            de dientes a través del uso de prótesis fija, removible e implantes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="especialistas" class="bg-white text-gray-800">
        <div class="text-center py-8">
            <h1 class="text-3xl font-bold text-green-500">
                ALGUNOS DE NUESTROS ESPECIALISTAS
            </h1>
            <p class="mt-2 text-lg text-gray-600">
                Staff de profesionales altamente capacitados.
            </p>
        </div>
        <div class="border-t border-gray-300 my-8">
        </div>
        <div class="flex justify-center space-x-8 px-8">
            <div class="bg-blue-100 rounded-t-full rounded-b-lg p-6 text-center w-64">
                <img alt="Portrait of Dra. Patricia Gutiérrez" class="rounded-full mx-auto mb-4" height="200"
                    src="../../../assets/img-conent/especialistas/espe1.png" width="200" />
                <h2 class="text-lg font-bold">
                    Dra. Patricia Gutiérrez
                </h2>
                <p class="text-sm text-gray-500">
                    COP 12345 | RNE 1234
                </p>
                <p class="text-md text-pink-500 mt-2">
                    Ortodoncia y ortopedia maxilofacial
                </p>
                <p class="text-sm mt-2">
                    Especialista con más de 10 años de experiencia. Realiza su labor de manera minuciosa para garantizar
                    la funcionalidad y estética en todos sus tratamientos.
                </p>
            </div>
            <div class="bg-blue-100 rounded-t-full rounded-b-lg p-6 text-center w-64">
                <img alt="Portrait of Dr. Carlos Soto" class="rounded-full mx-auto mb-4" height="200"
                    src="../../../assets/img-conent/especialistas/espe2.png" width="200" />
                <h2 class="text-lg font-bold">
                    Dr. Carlos Soto
                </h2>
                <p class="text-sm text-gray-500">
                    COP 23456 | RNE 2345
                </p>
                <p class="text-md text-pink-500 mt-2">
                    Endodoncia
                </p>
                <p class="text-sm mt-2">
                    Especialista que se caracteriza brindar un servicio de alta calidad y un trato amable a sus
                    pacientes.
                </p>
            </div>
            <div class="bg-blue-100 rounded-t-full rounded-b-lg p-6 text-center w-64">
                <img alt="Portrait of Dr. Felipe Maldonado" class="rounded-full mx-auto mb-4" height="200"
                    src="../../../assets/img-conent/especialistas/espe3.png" width="200" />
                <h2 class="text-lg font-bold">
                    Dr. Felipe Maldonado
                </h2>
                <p class="text-sm text-gray-500">
                    COP 34567 | RNE 3456
                </p>
                <p class="text-md text-pink-500 mt-2">
                    Odontología Integra
                </p>
                <p class="text-sm mt-2">
                    Especialista que se caracteriza por brindar a sus pacientes un diagnóstico asertivo y un tratamiento
                    altamente personalizado.
                </p>
            </div>
            <div class="bg-blue-100 rounded-t-full rounded-b-lg p-6 text-center w-64">
                <img alt="Portrait of Dr. Julio Morales" class="rounded-full mx-auto mb-4" height="200"
                    src="../../../assets/img-conent/especialistas/espe4.png" width="200" />
                <h2 class="text-lg font-bold">
                    Dr. Julio Morales
                </h2>
                <p class="text-sm text-gray-500">
                    COP 45678 | RNE 4567
                </p>
                <p class="text-md text-pink-500 mt-2">
                    Rehabilitación oral, estética
                </p>
                <p class="text-sm mt-2">
                    Especialista con más de 10 años de experiencia. Realiza su labor de manera minuciosa para garantizar
                    la funcionalidad y estética en todos su tratamientos.
                </p>
            </div>
        </div>
    </section>

    <app-footer-pages />
</div>