<header class="w-[100%]" style="position: fixed; top: 0; left: 0; z-index: 1000; background-color: #d2ebf9;">
    <div class=" mx-auto flex justify-between items-center py-4 px-6">
        <div class="flex items-center">
            <img alt="OdontoSalud Logo" class="h-12" height="100" src="../../../assets/img-landing/imagebanner.png"
                width="200" />

        </div>
        <nav class="flex space-x-6">
            <div>
                <a class="text-gray-700 hover:text-blue-900" href="#conocenos">
                    Conócenos
                </a>
            </div>
            <div>
                <a class="text-gray-700 hover:text-blue-900" href="#servicios">
                    Servicios
                </a>
            </div>
            <div>
                <a class="text-gray-700 hover:text-blue-900" href="#especialistas">
                    Especialistas
                </a>
            </div>
            <div>
                <a [routerLink]="route" class="text-gray-700 hover:text-blue-900 cursor-pointer">
                    Reservar Cita
                </a>
            </div>
            <div>

                <a class="text-gray-700 hover:text-blue-900" href="#">
                    Gestionar Cita
                </a>
            </div>
            <div>
                <a class="text-gray-700 hover:text-blue-900" href="#contactos">
                    Contáctanos
                </a>
            </div>
            <div>
                <a class="text-gray-700 hover:text-blue-900" href="#">
                    Inicio de sesión
                </a>
            </div>
        </nav>
    </div>
</header>